* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

main {
    max-width: 120rem;
    margin: 0 auto;
}

/* Hero Section */
.hero {
    display: grid;
    grid-template-columns: minmax(30rem,2fr) 3fr;
    grid-auto-rows: 55rem;
    place-content: center;
    padding: 3rem;
    border-bottom: .3rem solid rgba(99, 99, 99, 0.2);

    & .hero__info {
        align-self: center;

        & .info__title {
            color: #333;
            font-size: 5rem;
            font-weight: bolder;
            margin-bottom: 2.4rem;
        }

        & .info__subtitle {
            color: #333;
            font-size: 2rem;
            margin-bottom: 2.4rem;
        }

        & .info__button {
            border: none;
            border-radius: 20px;
            color: #333;
            background-color: #fb8c00;
            font-weight: bolder;
            padding: 12px 24px;
            transition: 0.5s all;
        }

        & .info__button:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: #f5a94d;
        }
    }

    & .hero__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Dishes Section */
.dishes{
    margin: 6rem 0;
    padding: 3rem;


    & .dishes__title{
        color: #333;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5rem;
        font-size: 3.2rem;
    }

    & .dishes__grid {
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 23rem));
        grid-auto-rows: 1fr;
        gap: 2.4rem;
        place-content: center;
    
    
        & .dishes__item {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.2rem;
            transition: 0.5s all;
        }

        & .dishes__item:hover{
            cursor: pointer;
            transform: scale(1.1);
            filter: opacity(0.9);
        }
    
        & .dishes__item--big {
            grid-area: 1 / 1 / 3 / 3;
        }
    }
}

/* Menu Section */

.menu{
    margin-bottom: 20rem;

    & .menu__title{
        font-size: 2.8rem;
        color: #333;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5rem;
    }

    & .menu__grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
        gap: 2.5rem;
    }

    & .menu__grid-item{
        background-color: rgba(255, 229, 220, 0.493);
        padding: 1.5rem;
        border-radius: 4rem;
        padding: 1rem;
        place-items: center;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        & .hearth{
            height:2rem;
            width: 2rem;
            position: absolute;
            right: 1.8rem;
        }

        & .hearth:hover{
            cursor: pointer;
            color: red;
        }

        & .grid-item__img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.8s all;
            filter:drop-shadow(1px 1px 3px #888);
        }

        & .grid-item__img:hover{
            cursor: pointer;
            transform: rotate(25deg)  scale(1.2);
            filter: drop-shadow(1px 1px 3px #888) opacity(0.9);
           
        }
    }
}

/* Media querys */

@media screen and (max-width:76.8rem){
    .hero{
        grid-template-columns: minmax(30rem,50rem);
        justify-content: center;

        & .hero__image{
            display: none;
        }
    }

    .dishes__grid{
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 10rem));
    }
}

@media screen and (max-width: 569px) {
    .hero {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        text-align: center;
        padding: 2rem;
    }

    .hero__info {
        & .info__title {
            font-size: 4rem;
        }

        & .info__subtitle {
            font-size: 1.8rem;
        }

        & .info__button {
            padding: 10px 20px;
            font-size: 1.6rem;
        }
    }

    .hero__image {
        display: none;
    }

    .dishes__grid {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
        gap: 1.5rem;
    }

    .menu__grid {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        gap: 1.5rem;
    }
}
